<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p>Apartment Fields</p>
  <%= form.fields_for :apartments do |apartment| %>
    <%= apartment.label :number %>
    <%= apartment.text_field :number %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
