<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>Departamentos:</p>
<% if @apartments.present? %>
<ul>
  <% @apartments.each do |apartment| %>
  <li>
    <span><%= apartment.number %></span>
    <span><%= link_to 'Editar', edit_building_apartment_path(@building, apartment) %></span>
  </li>
  <% end %>
</ul>
<% end %>

<%= render 'apartments/form', apartment: @apartment %>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
